.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .sidenav {
    display: none;
  }
}
@media (max-width: 768px) {
  mat-toolbar .toolbarItems {
    display: none;
  }
}
mat-toolbar  .spacer {
  flex: 1 1 auto;
}
mat-toolbar .toolbarItems {
  margin-left: 10px;
}
mat-toolbar a {
  display: inline-block;
  margin: 0 15px;
  color: white;
  text-decoration: none;
  padding: auto;
}
.logo{
  font-size: larger; font-style: italic; color: rgb(131, 4, 4); font-weight: bold;

}
.profile{
  margin: 0 10px;
}
.notification{
  margin: 0 10px;
}